.navbar {
    border-bottom: 1px solid grey;
    background-color: #fefefe;
    padding: 0;
    height: 100%;
}

.logo {
    margin: 0;
    height: 100%;   
    font-size: 34pt;
    font-weight: 700;
    cursor: pointer; 
}

.links {
    list-style: none;
    padding: 0;
    height: 100%;
}